WANDB_API_KEY=           # https://wandb.ai/authorize
HF_API_TOKEN=            # https://huggingface.co/settings/tokens

# Cluster
CLUSTER_URL=             # user@hostname
SBATCH_ACCOUNT=          # your SLURM allocation, e.g. Berzelius-2025-278
SBATCH_GPU_PARTITION=    # e.g. berzelius
SBATCH_CPU_PARTITION=    # e.g. berzelius-cpu
STORAGE_DIR=             # path to storage volume, e.g. /proj/rep-learning-robotics/users/<user>
